---
import Hero from './welcome/Hero.astro';
import ContactBanner from "./welcome/ContactBanner.astro";
import AiHelps from "./welcome/AIHelps.astro";
import Reviews from "./welcome/Reviews.astro";
import Products from "./welcome/Products.astro";
import Work from "./welcome/Work.astro";
---

<div id="container" class="flex-auto">
    <main>
        <Hero></Hero>
        <Products></Products>
        <AiHelps></AiHelps>
        <!--Reviews></Reviews-->
        <Work></Work>
        <ContactBanner></ContactBanner>
    </main>
    </div>
